* {
    justify-content: left;
    justify-content: flex-start; 
    justify-content: flex-end;
    justify-content: center; 
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly;
  }
  
  .header {
    display: flex;
    padding: 60px;
    background-color: #1181ad;
    height: 40px;
    width: 100%;
  }

  .header-box1{
      padding: 30px;
      background-color: skyblue;
      height: 20px;
  }

  .header-box2{
    padding: 30px;
    background-color: skyblue;
    height: 20px;
  }

  .header-box3{
      padding: 30px;
      background-color: skyblue;
      height:20px;
  }

  .middle-box {
    padding: 50px;
    background-color:rgb(92, 88, 85);
    display: flex;
    justify-content: space-between;
    height: 180px;
    width: 100%;


  }

  .box1 {
    padding: 30px;
    background-color: skyblue;
    height:20px;
  }
  
  .box2 {
      padding: 30px;
      background-color: skyblue;
      height:20px;
  }

  .box3 {
    padding: 30px;
    background-color: skyblue;
    height:20px;
  }

  .main-nav {
      display: flex;
      justify-content: flex-end;
      align-items: flex-start;
  }

  .footer {
    position: fixed;
    display:flex;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: skyblue;
    color: rgb(3, 1, 1);
    text-align: center;
  }



